In [1]:
## Import libraries
import numpy as np
import matplotlib
import matplotlib.pyplot as plt 
from matplotlib import transforms
import pandas as pd
import seaborn as sns
#from matplotlib.ticker import FixedLocator, FixedFormatter

from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap
from plotnine import *
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap, geom_line
from plotnine import ggplot  # https://plotnine.readthedocs.io/en/stable/
import pandas as pd
import plotnine
%matplotlib inline

from pandas import DataFrame
from matplotlib import gridspec

from  mizani import formatters # for better axis labelling

In [2]:
# define colors
GRAY1, GRAY2, GRAY3 = '#231F20', '#414040', '#555655'
GRAY4, GRAY5, GRAY6 = '#646369', '#76787B', '#828282'
GRAY7, GRAY8, GRAY9 = '#929497', '#A6A6A5', '#BFBEBE'
BLUE1, BLUE2, BLUE3, BLUE4 = '#174A7E', '#4A81BF', '#94B2D7', '#94AFC5'
BLUE5, BLUE6 = '#92CDDD', '#2E869D'
RED1, RED2 = '#C3514E', '#E6BAB7'
GREEN1, GREEN2 = '#0C8040', '#9ABB59'
ORANGE1, ORANGE2, ORANGE3 = '#F79747', '#FAC090', '#F36721'

In [8]:
# configure plot font family to Arial
plt.rcParams['font.family'] = 'Arial'
matplotlib.rcParams['mathtext.fontset'] = 'custom'
matplotlib.rcParams['mathtext.bf'] = 'Arial:bold'
matplotlib.rcParams['mathtext.it'] = 'Arial:italic'

#### Get data frames

In [127]:
df = pd.read_csv ( "Data/FIG0921-26.csv")
df.head()

         Category 2010 2011 2012 2013 2014 2015
0  Arts & culture  20%  25%  28%  42%  30%  43%
1       Education  73%  80%  74%  70%  63%  60%
2          Health  67%  53%  61%  65%  70%  75%
3  Human services  60%  85%  78%  60%  58%  55%
4           Other  53%  30%  45%  30%  45%  30%

In [319]:
df = pd.read_csv ( "Data/FIG0921-26.csv")

df = pd.melt (df.reset_index(), 
    id_vars = 'Category', 
    value_vars = [str(i) for i in range (2010, 2015+1)],  
    value_name='Response', var_name='Year' )

# Remove trailing percentage
df['Response'] = df['Response'].apply (lambda x: str(x).replace  ('%', '') ).astype(int)/ 100
#df['Selected Year'] = '2015'

In [320]:
# Sort out categories
from pandas import CategoricalDtype
#df['Category_Cat'] = df.Category.astype (CategoricalDtype(ordered=True))
#df['Category_Cat'] = df['Category_Cat'].cat.reorder_categories(['Health', 'Human services', 'Other', 'Arts & culture', 'Education'])

df['Year_O'] = df['Year'] # object for discete axis
df['Year'] = df['Year'].astype ( int)
df.head()

         Category  Year  Response    Category_Cat Year_O
0  Arts & culture  2010      0.20  Arts & culture   2010
1       Education  2010      0.73       Education   2010
2          Health  2010      0.67          Health   2010
3  Human services  2010      0.60  Human services   2010
4           Other  2010      0.53           Other   2010

In [272]:
df.Category_Cat.cat.categories

Index(['Health', 'Human services', 'Other', 'Arts & culture', 'Education'], dtype='object')

In [323]:
# Need to repliceate this data frame once for each year
# The difference between them will be "Selected Year"
# 
dfNew = df.copy()
dfNew['SelectedCat'] = df.Category_Cat.cat.categories[0]
#dfNew['SelectedYear'] = dfNew['SelectedYear'].astype ( int)

#dfNew.astype ('Integer')
for aCat in list (df.Category_Cat.cat.categories [1:] ):
    print (aCat)
    dfTmp = df.copy()
    dfTmp['SelectedCat'] = aCat
    dfNew = pd.concat ([dfNew, dfTmp])

dfNew.tail()    

df = dfNew.copy()

Human services
Other
Arts & culture
Education

In [338]:
df['SelectedCat'] = df.SelectedCat.astype (CategoricalDtype(ordered=True))
df['SelectedCat'] = df['SelectedCat'].cat.reorder_categories(['Health', 'Human services', 'Other', 'Arts & culture', 'Education'])

In [283]:
df.Category_Cat.cat.categories

Index(['Health', 'Human services', 'Other', 'Arts & culture', 'Education'], dtype='object')

In [324]:
df.SelectedCat.value_counts()

Health            30
Human services    30
Other             30
Arts & culture    30
Education         30
Name: SelectedCat, dtype: int64

In [325]:
def SWD_style ():

    # Basic information from the 
    
    font = "Arial"
    #t=theme_minimal(base_size = 10, base_family = font ) 

    t2 = theme(

      panel_grid_major = element_blank(),
      panel_grid_minor = element_blank(),

      axis_line = element_line(size = .2, color = GRAY9),
      axis_text = element_text(color = GRAY3, size = 12),

      #axis.ticks.x = element_line(size = 0.5, color = GRAY9),
      #axis.ticks.y = element_line(size = 0.5, color = GRAY9),
        
      axis_title = element_text(color = GRAY3),

      #axis_title_y = element_text(hjust = 1, margin = margin(0, 6, 0, 15, "pt")),
      #axis_title_x = element_text(hjust = 0, margin = margin(6, 0, 15, 0, "pt")),
      #plot_subtitle = element_text(color = GRAY4, size= 8),

      plot_title = element_text(color = GRAY4, size= 12 ),
        
      # I don't think this line is implemented in plotnine
      #plot_title_position = "plot", # This aligns the plot title to the very left edge
        
      #plot_caption = element_text(hjust = 0, color = GRAY6),
      #plot_caption_position = "plot",

      #plot_margin = margin(.5,.5,.5,.5,"cm"),
      #plot_margin = (0.4 ),  
        
      strip_text = element_text(color = GRAY7)
      , panel_background = element_blank()
      ,axis_ticks = element_blank()
        
    ) 
    
    return t2

In [ ]:
theme_pt1 = theme (
          axis_line_x  = element_blank(),
          axis_line_y  = element_blank(),    
          axis_text_y  = element_blank(),
          axis_title_y  = element_blank(),

          axis_text_x  = element_blank(),
          axis_title_x  = element_blank(),
    
          # Need to make space for the left hand facet sub titles
          #plot_margin = margin(.5,.5,.5,3,"cm"),

          #subplots_adjust={'wspace':0.15} 
    
          # I think this is  is inherited from fig and makes the left margin 20% in each case.
          subplots_adjust={'left': 0.3}
          
          # this line below will not work.
          #axis_title_y  = element_blcusank()
)

bool1 = df['SelectedCat'] == df['Category']
bool2 = (df['SelectedCat'] == df['Category'] )  & ( (df['Year'] == 2010) | (df['Year'] == 2015) )
bool3 = (df['SelectedCat'] == df['Category'] )  &  (df['Year'] == 2010) 
bool4 = (df['SelectedCat'] == df['Category'] )  &  (df['Year'] == 2015) 

fig  = (
    
ggplot(  df) +\
       geom_line( aes(x="Year", y="Response", group="Category"),color = GRAY9, size = 1.2) + SWD_style()+theme_pt1 +\
       scale_y_continuous(labels =   formatters.percent_format() ) + \
       # First point for current year
       geom_point ( aes(x='Year', y='Response'), color=BLUE2, size = 5, data = df[bool2]) +\
       geom_line( aes(x="Year", y="Response"),color = BLUE2, size = 1.2, data = df[bool1]) +\
    
       geom_text(aes(x = 'Year', y = 'Response', label='Response' ), color = BLUE2, 
                 size = 10, nudge_x = -.36,format_string='{:.0%} ',  data = df[bool3]) +\

       geom_text(aes(x = 'Year', y = 'Response', label='Response' ), color = BLUE2, 
                 size = 10, nudge_x = +.36,format_string='{:.0%} ',  data = df[bool4]) +\
    
       facet_grid ( 'SelectedCat~.' ) +\
       scale_x_continuous(breaks=[2010,2011,2012,2013,2014,2015]) + \
    
       theme(
             strip_background = element_blank(),
             strip_text_x = element_blank(),
             strip_text_y = element_blank()
    
        )
    
).draw(show=False, return_ggplot=False) 

'''
Here we want to loop through the subplots and fix up two issues:
a) The default (ggplot) facet label was on the right, prefer it to be on the left
b) The X axis should be on top not on the bottom.
'''

#for ax in fig.axes:
#    ax.text(-0.30, .55, 'hello world!', transform=ax.transAxes, color=GRAY5, fontsize=14)
    
for index,cat in  enumerate ( df['SelectedCat'].cat.categories ):
    ax = fig.axes[index]
    ax.text(-0.30, .55, cat, transform=ax.transAxes, color=GRAY5, fontsize=12)


ax0 = fig.add_axes( (0,0,1,1))
ax0.axis('Off') # don't draw anything.
    
ax_top = fig.axes[0]
ax_top.spines['top'].set_visible(True)

ax_top.tick_params (axis='x', width=1 ,labelsize=14, colors=GRAY7, labeltop=True, labelcolor=GRAY5)

fig.dpi = 300
width_in = 7
fig.set_size_inches(width_in , width_in * 1) 
fig.savefig ( 'Plots/5_lines_pulled_apart')